examples/all-in-on.json
[{"id":"3f8099cce4633b5b","type":"group","z":"f4cfebc5f85e9fd8","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["6cf5a9d1338ef502","ef3e2bcd007601f0","1c928f7a6477eaee","57a31c713d9695b7","f4580c08a1db57cd","516467d4f3bfbd8c","73af9d841a539b8b","9b0b3932622192d2","283daec90b3c6d7c","5433993d3497aa88","bc22a0173bdfa6cd","72c7de50141678dc","80bfef281cae6e3d","9525ba24c76c6064","fd4d19fd32cb91f5","b6e3e5565af6d7f2","7eda8ced74348f28","53932d3e0a373ccd","20aede94d2cbd90e","16372a69d0e4b4a1","228187779510fa43","0464f1b0ca0aea19"],"x":34,"y":559,"w":1042,"h":482},{"id":"6cf5a9d1338ef502","type":"ssh-command-executor","z":"f4cfebc5f85e9fd8","g":"3f8099cce4633b5b","name":"","command":"","x":410,"y":720,"wires":[["9b0b3932622192d2","53932d3e0a373ccd"]]},{"id":"ef3e2bcd007601f0","type":"ssh-connection-closer","z":"f4cfebc5f85e9fd8","g":"3f8099cce4633b5b","name":"","x":390,"y":1000,"wires":[["57a31c713d9695b7"]]},{"id":"1c928f7a6477eaee","type":"inject","z":"f4cfebc5f85e9fd8","g":"3f8099cce4633b5b","name":"Trigger","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":600,"wires":[["16372a69d0e4b4a1"]]},{"id":"57a31c713d9695b7","type":"debug","z":"f4cfebc5f85e9fd8","g":"3f8099cce4633b5b","name":"debug 38","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":1000,"wires":[]},{"id":"f4580c08a1db57cd","type":"function","z":"f4cfebc5f85e9fd8","g":"3f8099cce4633b5b","name":"cd Desktop","func":"msg.payload = { command: \"sudo apt-get update\" }; // Example command to list directory contents\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":190,"y":720,"wires":[["6cf5a9d1338ef502","73af9d841a539b8b"]]},{"id":"516467d4f3bfbd8c","type":"debug","z":"f4cfebc5f85e9fd8","g":"3f8099cce4633b5b","name":"debug 40","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":560,"y":600,"wires":[]},{"id":"73af9d841a539b8b","type":"debug","z":"f4cfebc5f85e9fd8","g":"3f8099cce4633b5b","name":"debug 41","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":360,"y":680,"wires":[]},{"id":"9b0b3932622192d2","type":"function","z":"f4cfebc5f85e9fd8","g":"3f8099cce4633b5b","name":"ls -l","func":"msg.payload = { command: \"ls -l\" }; // Example command to list directory contents\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":170,"y":800,"wires":[["283daec90b3c6d7c","bc22a0173bdfa6cd"]]},{"id":"283daec90b3c6d7c","type":"ssh-command-executor","z":"f4cfebc5f85e9fd8","g":"3f8099cce4633b5b","name":"","command":"","x":410,"y":820,"wires":[["5433993d3497aa88","9525ba24c76c6064"]]},{"id":"5433993d3497aa88","type":"debug","z":"f4cfebc5f85e9fd8","g":"3f8099cce4633b5b","name":"debug 42","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":620,"y":820,"wires":[]},{"id":"bc22a0173bdfa6cd","type":"debug","z":"f4cfebc5f85e9fd8","g":"3f8099cce4633b5b","name":"debug 43","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":360,"y":780,"wires":[]},{"id":"72c7de50141678dc","type":"inject","z":"f4cfebc5f85e9fd8","g":"3f8099cce4633b5b","name":"Close Connection","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":1000,"wires":[["ef3e2bcd007601f0"]]},{"id":"80bfef281cae6e3d","type":"inject","z":"f4cfebc5f85e9fd8","g":"3f8099cce4633b5b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":660,"wires":[["f4580c08a1db57cd"]]},{"id":"9525ba24c76c6064","type":"function","z":"f4cfebc5f85e9fd8","g":"3f8099cce4633b5b","name":"cat helloworld.txt","func":"msg.payload = { command: \"ls -l\" }; // Example command to list directory contents\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":170,"y":920,"wires":[["fd4d19fd32cb91f5","7eda8ced74348f28"]]},{"id":"fd4d19fd32cb91f5","type":"ssh-command-executor","z":"f4cfebc5f85e9fd8","g":"3f8099cce4633b5b","name":"","command":"","x":410,"y":920,"wires":[["b6e3e5565af6d7f2"]]},{"id":"b6e3e5565af6d7f2","type":"debug","z":"f4cfebc5f85e9fd8","g":"3f8099cce4633b5b","name":"debug 44","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":620,"y":920,"wires":[]},{"id":"7eda8ced74348f28","type":"debug","z":"f4cfebc5f85e9fd8","g":"3f8099cce4633b5b","name":"debug 45","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":360,"y":880,"wires":[]},{"id":"53932d3e0a373ccd","type":"extract-last-n-lines","z":"f4cfebc5f85e9fd8","g":"3f8099cce4633b5b","name":"","numberOfLines":"3","x":670,"y":720,"wires":[["228187779510fa43"]]},{"id":"20aede94d2cbd90e","type":"debug","z":"f4cfebc5f85e9fd8","g":"3f8099cce4633b5b","name":"debug 46","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":880,"y":620,"wires":[]},{"id":"16372a69d0e4b4a1","type":"ssh-connection-open","z":"f4cfebc5f85e9fd8","g":"3f8099cce4633b5b","name":"","host":"","port":"","username":"","password":"","privateKey":"","x":360,"y":600,"wires":[["516467d4f3bfbd8c"]]},{"id":"228187779510fa43","type":"string-search","z":"f4cfebc5f85e9fd8","g":"3f8099cce4633b5b","name":"","searchString":"Done","x":850,"y":700,"wires":[["20aede94d2cbd90e"],["0464f1b0ca0aea19"]]},{"id":"0464f1b0ca0aea19","type":"debug","z":"f4cfebc5f85e9fd8","g":"3f8099cce4633b5b","name":"debug 47","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":970,"y":760,"wires":[]}]